body {
    background-color: rgb(0, 36, 14);
    color: #ccff00;
    text-shadow: 0px 0px 8px #ccff00;
    font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: 12px;
    text-align: left;
    padding-top: 40px;
}

